h1{
  color: #A4A400;
  background-color: rgb(240,240,240);
  font-family: Century Gothic, Futura, Verdana, sans-serif;
  font-size: 22pt;
  font-weight: bold;
  text-decoration:underline;
  text-align: center;
}

h2{
  color: rgb(164, 164, 0);
  background-color: #F0F0F0;
  font-family: Century Gothic, Futura, Verdana, sans-serif;
  font-size: 18pt;
  font-weight: normal;
  text-decoration: underline;
  text-align: left;;
}

p, li{
  color: #404040;
  font-family: Georgia, Garamond, serif;
  font-size: 11pt;
}

a{
  color: #A4A400;
}

blockquote{
  font-style: italic;
  background: #FFFFC8;
}
